.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  @media (max-width: 570px) {
      .carousel-item {
          margin-top: 30px;
          height: 100%;
      }
  }

.tulisanhitam{
    background-color: black;
    opacity: 0.5;
    display: inline-block;
}